:root {
    --color-primary: #fccc49;
    --color-secondary: #003049;
    --color-accent: #F77F00;
}

.theme-light {
    --font-color: #000000;
    --background-color: #fdfdfd;
    --darker-background: #e0e0e0;
}

.theme-dark {
    --font-color: #f1f1f1;
    --background-color: #263638;
    --darker-background: #222d30;
}